@import "tailwindcss";
@keyframes slideUp {
  0% { opacity: 0; transform: translateY(20px);}
  100% { opacity: 1; transform: translateY(0);}
}
.animate-slideUp {
  animation: slideUp 0.8s ease forwards;
}

@keyframes pulseSlow {
  0%, 100% { transform: scale(1);}
  50% { transform: scale(1.05);}
}
.animate-pulse-slow {
  animation: pulseSlow 6s ease-in-out infinite;
}

@keyframes bounceSlow {
  0%, 100% { transform: translateY(0);}
  50% { transform: translateY(-8px);}
}
.animate-bounce-slow {
  animation: bounceSlow 4s ease-in-out infinite;
}

